In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun May 20 14:11:56 2018

@author: michaelburak
"""

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Exposing dataframe with pandas
df = pd.read_csv('2007-2016-Homelessnewss-USA.csv')

In [3]:
#Cleaning and prep

#Might drop these columns if only caring about the State
#df = df.drop(columns=['CoC Number', 'CoC Name'])

#Converting count to int type from str

df['Count'] = df['Count'].str.replace(',', '').astype(np.int64)

In [4]:
#Converting year to datetime and setting to years
df['Year'] = pd.to_datetime(df['Year'])

df['Year'] = df['Year'].dt.year

In [5]:
#Examine head of dataset 

df.head()

,Year,State,CoC Number,CoC Name,Measures,Count
0,2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842

In [6]:
#Examine tail 

df.tail()

,Year,State,CoC Number,CoC Name,Measures,Count
86524,2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Youth (Unde...,7
86525,2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Veterans,31
86526,2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth (Under 25),3
86527,2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Age 18-24,3
86528,2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Under 18,0

In [7]:
#List all measures 
df.Measures.unique()

array(['Chronically Homeless Individuals', 'Homeless Individuals',
       'Homeless People in Families',
       'Sheltered Chronically Homeless Individuals', 'Sheltered Homeless',
       'Sheltered Homeless Individuals',
       'Sheltered Homeless People in Families', 'Total Homeless',
       'Unsheltered Chronically Homeless Individuals',
       'Unsheltered Homeless', 'Unsheltered Homeless Individuals',
       'Unsheltered Homeless People in Families', 'Chronically Homeless',
       'Chronically Homeless People in Families', 'Homeless Veterans',
       'Sheltered Chronically Homeless',
       'Sheltered Chronically Homeless People in Families',
       'Sheltered Homeless Veterans', 'Unsheltered Chronically Homeless',
       'Unsheltered Chronically Homeless People in Families',
       'Unsheltered Homeless Veterans', 'Children of Parenting Youth',
       'Homeless Unaccompanied Children (Under 18)',
       'Homeless Unaccompanied Young Adults (Age 18-24)',
       'Homeless Unaccompanied Youth (Under 25)',
       'Parenting Youth (Under 25)', 'Parenting Youth Age 18-24',
       'Parenting Youth Under 18',
       'Sheltered Children of Parenting Youth',
       'Sheltered Homeless Unaccompanied Children (Under 18)',
       'Sheltered Homeless Unaccompanied Young Adults (Age 18-24)',
       'Sheltered Homeless Unaccompanied Youth (Under 25)',
       'Sheltered Parenting Youth (Under 25)',
       'Sheltered Parenting Youth Age 18-24',
       'Sheltered Parenting Youth Under 18',
       'Unsheltered Children of Parenting Youth',
       'Unsheltered Homeless Unaccompanied Children (Under 18)',
       'Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)',
       'Unsheltered Homeless Unaccompanied Youth (Under 25)',
       'Unsheltered Parenting Youth (Under 25)',
       'Unsheltered Parenting Youth Age 18-24',
       'Unsheltered Parenting Youth Under 18'], dtype=object)

In [9]:
#finding occurrences of homeless veterans 

Filter = df.Measures == "Homeless Veterans"

filDf = df[Filter] #2404 rows

In [10]:
#Chronically homeless individuals, seeing total occurrences of something tracked
#through whole data set as measure

Filter2 = df.Measures == "Chronically Homeless Individuals"

filDf2 = df[Filter2]

In [11]:
#First set of tracked values includes 12 measures per state per year, beginning with CHI measure
#then grows to 21 (+9)
#9 measures not included=
initialMeasuresSchema = df.iloc[0:11]
veteransMeasuresSchema = df.iloc[19145:19166]

In [12]:
#entire measures for first examination of veterans
#size 12 - 12 measurements
filDf2007 = df[(df["CoC Number"] == "AK-500") &  (df['Year'] == 2007)]
#jumps to size 21 - 21 measurements
filDf2011 = df[(df["CoC Number"] == "AK-500") &  (df['Year'] == 2011)]
#jumps to size 42- 42 measurements
filDf2015 = df[(df["CoC Number"] == "AK-500") &  (df['Year'] == 2015)]